<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
<!--    <link rel="icon" type="image/png" href="/login-page/public/img.png"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>login page</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please Login to NesveSib</h2>
        <p>
            <label for="username" class="sr-only">nationalId</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="" data-has-listeners="true">
        </p>
        <p>
            <label for="password" class="sr-only">password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required=""
                   data-has-listeners="true">
        </p>
        <p>
            Remember me?
            <label for="remember-me"></label><input type="checkbox" id="remember-me" name="remember-me" class="form-control"/>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
</body>
</html>